/*$purple: #845cff;*/
@font-face {
  font-family: 'Brown';
  src: url("../fonts/Brown-RegularItalicAlt.eot");
  src: local("Brown-RegularItalicAlt"), url("../fonts/Brown-RegularItalicAlt.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-RegularItalicAlt.woff") format("woff"), url("../fonts/Brown-RegularItalicAlt.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Brown';
  src: url("../fonts/Brown-LightItalic.eot");
  src: local("Brown-LightItalic"), url("../fonts/Brown-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-LightItalic.woff") format("woff"), url("../fonts/Brown-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Brown';
  src: url("../fonts/Brown-Light.eot");
  src: local("Brown-Light"), url("../fonts/Brown-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-Light.woff") format("woff"), url("../fonts/Brown-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Brown';
  src: url("../fonts/Brown-Regular.eot");
  src: local("Brown-Regular"), url("../fonts/Brown-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-Regular.woff") format("woff"), url("../fonts/Brown-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Brown';
  src: url("../fonts/Brown-BoldAlt.eot");
  src: local("Brown-BoldAlt"), url("../fonts/Brown-BoldAlt.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-BoldAlt.woff") format("woff"), url("../fonts/Brown-BoldAlt.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Brown';
  src: url("../fonts/Brown-ThinItalic.eot");
  src: local("Brown-ThinItalic"), url("../fonts/Brown-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-ThinItalic.woff") format("woff"), url("../fonts/Brown-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Brown';
  src: url("../fonts/Brown-Thin.eot");
  src: local("Brown-Thin"), url("../fonts/Brown-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-Thin.woff") format("woff"), url("../fonts/Brown-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Brown';
  src: url("../fonts/Brown-BoldItalicAlt.eot");
  src: local("Brown-BoldItalicAlt"), url("../fonts/Brown-BoldItalicAlt.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-BoldItalicAlt.woff") format("woff"), url("../fonts/Brown-BoldItalicAlt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Brown';
  src: url("../fonts/Brown-RegularItalic.eot");
  src: local("Brown-RegularItalic"), url("../fonts/Brown-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-RegularItalic.woff") format("woff"), url("../fonts/Brown-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Brown';
  src: url("../fonts/Brown-LightBackslanted.eot");
  src: local("Brown-LightBackslanted"), url("../fonts/Brown-LightBackslanted.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-LightBackslanted.woff") format("woff"), url("../fonts/Brown-LightBackslanted.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Brown';
  src: url("../fonts/Brown-RegularBackslantedAlt.eot");
  src: local("Brown-RegularBackslantedAlt"), url("../fonts/Brown-RegularBackslantedAlt.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-RegularBackslantedAlt.woff") format("woff"), url("../fonts/Brown-RegularBackslantedAlt.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Brown';
  src: url("../fonts/Brown-RegularAlt.eot");
  src: local("Brown-RegularAlt"), url("../fonts/Brown-RegularAlt.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-RegularAlt.woff") format("woff"), url("../fonts/Brown-RegularAlt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Brown';
  src: url("../fonts/Brown-Bold.eot");
  src: local("Brown-Bold"), url("../fonts/Brown-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-Bold.woff") format("woff"), url("../fonts/Brown-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Brown';
  src: url("../fonts/Brown-ThinBackslanted.eot");
  src: local("Brown-ThinBackslanted"), url("../fonts/Brown-ThinBackslanted.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-ThinBackslanted.woff") format("woff"), url("../fonts/Brown-ThinBackslanted.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Brown';
  src: url("../fonts/Brown-RegularBackslanted.eot");
  src: local("Brown-RegularBackslanted"), url("../fonts/Brown-RegularBackslanted.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-RegularBackslanted.woff") format("woff"), url("../fonts/Brown-RegularBackslanted.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Brown';
  src: url("../fonts/Brown-BoldBackslanted.eot");
  src: local("Brown-BoldBackslanted"), url("../fonts/Brown-BoldBackslanted.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-BoldBackslanted.woff") format("woff"), url("../fonts/Brown-BoldBackslanted.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Brown';
  src: url("../fonts/Brown-BoldItalic.eot");
  src: local("Brown-BoldItalic"), url("../fonts/Brown-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-BoldItalic.woff") format("woff"), url("../fonts/Brown-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Brown';
  src: url("../fonts/Brown-BoldBackslanted-Alt.eot");
  src: local("Brown-BoldBackslanted-Alt"), url("../fonts/Brown-BoldBackslanted-Alt.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-BoldBackslanted-Alt.woff") format("woff"), url("../fonts/Brown-BoldBackslanted-Alt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

.bg-preload {
  background-color: #f2f2f2; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Brown', sans-serif; }

a {
  text-decoration: none; }

button {
  outline: none;
  cursor: pointer; }

label {
  cursor: pointer; }

h1, .h1 {
  font-size: 4.8rem;
  font-weight: 700;
  color: #000; }

h2, .h2 {
  font-size: 4.8rem;
  font-weight: 300;
  color: #000;
  line-height: 65px; }

h3, .h3 {
  font-size: 3rem;
  font-weight: 300;
  color: #000; }

h4, .h4 {
  font-size: 2rem;
  font-weight: 500;
  color: #000; }

p {
  font-size: 2.3rem;
  font-weight: 300;
  color: #525f7f;
  margin-bottom: 0 !important; }

hr {
  margin: 0 -50px; }

.description {
  font-size: 2.3rem;
  font-weight: 300;
  color: #525f7f; }

.submit {
  border-radius: 3px;
  background-color: #000;
  -webkit-box-shadow: -6.691px 7.431px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -6.691px 7.431px 20px 0px rgba(0, 0, 0, 0.2);
  width: 142px;
  height: 42px;
  border-radius: 100px;
  border: none;
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase; }
  .submit:hover {
    background-color: #fff;
    color: #000;
    -webkit-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    transition: 0.6s ease; }

.submit_start {
  font-size: 2.8rem;
  line-height: 2.8rem;
  height: 50px;
  width: 150px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }

.submit_next {
  font-size: 2.3rem; }

.submit_last {
  width: 100%;
  height: 70px;
  font-size: 3.6rem;
  font-weight: 500;
  border-radius: 15px;
  text-transform: none; }

.input, .label {
  padding-left: 40px;
  padding-top: 5px;
  border: 0;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: -6.691px 7.431px 20px 0px rgba(212, 212, 250, 0.2);
  box-shadow: -6.691px 7.431px 20px 0px rgba(212, 212, 250, 0.2);
  width: 100%;
  height: 70px;
  font-size: 1.9rem;
  font-weight: 300;
  outline: none;
  margin: 20px 0; }
  .input::-webkit-input-placeholder, .label::-webkit-input-placeholder {
    font-size: 1.9rem;
    font-weight: 300; }
  .input:-ms-input-placeholder, .label:-ms-input-placeholder {
    font-size: 1.9rem;
    font-weight: 300; }
  .input::-ms-input-placeholder, .label::-ms-input-placeholder {
    font-size: 1.9rem;
    font-weight: 300; }
  .input::placeholder, .label::placeholder {
    font-size: 1.9rem;
    font-weight: 300; }

.input_invalid {
  border: 1px solid red;
  -webkit-transition: .7s all;
  -o-transition: .7s all;
  transition: .7s all; }

.input_text_last {
  font-size: 3rem; }

.overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(152, 152, 152, 0.5); }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /*padding: 35px 50px;*/
  overflow: hidden;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: -6.691px 7.431px 20px 0px rgba(212, 212, 250, 0.2);
  box-shadow: -6.691px 7.431px 20px 0px rgba(212, 212, 250, 0.2);
  position: relative;
  width: 1200px;
  height: 650px;
  z-index: 100; }
  @media screen and (max-width: 768px) {
    .form {
      position: relative;
      top: 0;
      right: 0;
      max-width: 450px;
      height: 600px;
      margin: 0 auto; } }

/*.p-policy {
    display: inline-block;
  }

  .policy-modal-block {
    position: relative;
  }

  .agree-block {
    position: absolute;
    left: -30px;
    bottom: 17%;
  }

  .agree-label {
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;

    background-image: url('../img/Disagree.png');
    background-repeat: no-repeat;
  }

  .form-agree:checked + .agree-label {
    background-image: url('../img/Agree.png') !important;
    background-repeat: no-repeat;
  }*/
#close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  background-color: #000;
  -webkit-box-shadow: -2.691px 5px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -2.691px 5px 10px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 100;
  text-align: center; }

.span__close {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #fff;
  border: 0;
  position: absolute; }

.span_close_first {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.span_close_second {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.wrapper {
  padding: 35px 50px; }

.main {
  min-height: 400px; }

.padding_column_last {
  padding: 0 55px; }

.card {
  height: 100%;
  width: 350px;
  border-radius: 10px;
  border: 1px solid #f2f2f2;
  overflow: hidden;
  -webkit-box-shadow: -6.691px 7.431px 20px 0px rgba(212, 212, 250, 0.2);
  box-shadow: -6.691px 7.431px 20px 0px rgba(212, 212, 250, 0.2); }
  .card:hover {
    -webkit-transition: .7s all;
    -o-transition: .7s all;
    transition: .7s all;
    border: 1px solid lightgrey;
    -webkit-box-shadow: -6.691px 7.431px 20px 0px rgba(212, 212, 250, 0.2);
    box-shadow: -6.691px 7.431px 20px 0px rgba(212, 212, 250, 0.2);
    /* transition: .9s ease-in-out;*/ }

.card__img {
  height: 85%; }

.radio_card_checked {
  /*visibility: hidden;*/
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 0;
  position: absolute;
  top: 10px;
  right: 15px;
  width: 45px;
  height: 45px;
  border: 3px solid #000;
  border-radius: 50%;
  -webkit-box-shadow: -6.691px 7.431px 20px 0px rgba(152, 152, 152, 0.5);
  box-shadow: -6.691px 7.431px 20px 0px rgba(152, 152, 152, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .radio_card_checked::before {
    content: "";
    display: block;
    width: 30.25px;
    height: 30.25px;
    border: 0;
    border-radius: 50%;
    background-color: #000; }

.input__radio_card:checked + .radio_card_checked {
  /*visibility: visible;*/
  opacity: 1; }

.label__checkbox, .label__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.checkbox_checked {
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 10px;
  background: #fafaff;
  margin-right: 40px; }
  .checkbox_checked:hover {
    -webkit-transition: .7s ease;
    -o-transition: .7s ease;
    transition: .7s ease;
    background-color: rgba(212, 212, 250, 0.2); }

.input__checkbox {
  display: none; }
  .input__checkbox:checked + .checkbox_checked {
    background: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative; }
    .input__checkbox:checked + .checkbox_checked::before, .input__checkbox:checked + .checkbox_checked::after {
      content: '';
      display: block;
      position: relative;
      background: #fff;
      height: 4px; }
    .input__checkbox:checked + .checkbox_checked::before {
      -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
      transform: rotate(30deg);
      width: 12px;
      left: 4px;
      top: 4px; }
    .input__checkbox:checked + .checkbox_checked::after {
      -webkit-transform: rotate(-60deg);
      -ms-transform: rotate(-60deg);
      transform: rotate(-60deg);
      width: 20px;
      right: 3px;
      top: 0px; }

.checkbox_checked_border {
  border: 2px solid #000;
  position: absolute;
  left: 75px; }

.radio_checked {
  width: 30px;
  height: 30px;
  border: 2px solid #fafaff;
  border-radius: 50%;
  background: #fafaff;
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .radio_checked:hover {
    -webkit-transition: .7s ease;
    -o-transition: .7s ease;
    transition: .7s ease;
    background-color: rgba(212, 212, 250, 0.2); }

.input__radio {
  display: none; }
  .input__radio:checked + .radio_checked {
    background: 0;
    border: 2px solid #000; }
    .input__radio:checked + .radio_checked::before {
      content: "";
      width: 20px;
      height: 20px;
      background-color: #000;
      border: 0;
      border-radius: 50%; }

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .select::before, .select::after {
    content: '';
    display: block;
    position: relative;
    background: #000;
    height: 2px;
    width: 20px; }
  .select::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .select::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }

/*# sourceMappingURL=main.css.map */