
//import
@import "./var.scss";
@import "./mixin.scss";
@import "./fonts.scss";

.bg-preload {
  background-color: #f2f2f2;
}

* {
  box-sizing: border-box;

  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Brown', sans-serif;
}

img {

}

a {
  text-decoration: none;
}

button {
  outline: none;
  cursor: pointer;
}

label {
  cursor: pointer;
}

h1, .h1 {
  @include font (4.8rem, 700, $blue);
}

h2, .h2 {
  @include font (4.8rem, 300, $blue);
  line-height: 65px;
}

h3, .h3 {
  @include font (3rem, 300, $dark-blue);
}

h4, .h4 {
  @include font (2rem, 500, $dark-blue);
}

p {
  @include font (2.3rem, 300, $light-blue);
  margin-bottom: 0 !important;
}

hr {
  margin: 0 -50px;
}

.description {
  @include font (2.3rem, 300, $light-blue);
}

.submit {
  border-radius: 3px;
  background-color: $purple;
  box-shadow: -6.691px 7.431px 20px 0px $shadow;
  width: 142px;
  height: 42px;

  @include font (1.5rem, 700, $white);
  text-transform: uppercase;

  &:hover {
    background-color: $white;
    color: $blue;

    transition: 0.6s ease;
  }
}

.submit_start {
  font-size: 2.8rem;
  line-height: 2.8rem;
  height: 50px;
  width: 150px;
  align-self: center;
}

.submit_next {
  font-size: 2.3rem;
}

.submit_last {
  width: 100%;
  height: 70px;
  font-size: 3.6rem;
  font-weight: 500;
  border-radius: 15px;
  text-transform: none;
}


.input, .label {
  padding-left: 40px;
  padding-top: 5px;
  border: 0;
  border-radius: 5px;
  background-color: $white;
  box-shadow: -6.691px 7.431px 20px 0px $grey;
  width: 100%;
  height: 70px;
  font-size: 1.9rem;
  font-weight: 300;
  outline: none;
  margin: 20px 0;

    &::placeholder {
    font-size: 1.9rem;
    font-weight: 300;
  }
}

.input_invalid {
  border: 1px solid red;
  transition: .7s all;
}

.input_text_last {
  font-size: 3rem;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: $light-grey;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*padding: 35px 50px;*/
  overflow: hidden;

  border-radius: 10px;
  background-color: $white;
  box-shadow: -6.691px 7.431px 20px 0px $grey;
  position: relative;
  width: 1200px;
  height: 650px;
  z-index: 100;

  @media screen and (max-width: 768px) {
    position: relative;
    top: 0;
    right: 0;
    max-width: 450px;
    height: 600px;
    margin: 0 auto;
  }
}

  /*.p-policy {
    display: inline-block;
  }

  .policy-modal-block {
    position: relative;
  }

  .agree-block {
    position: absolute;
    left: -30px;
    bottom: 17%;
  }

  .agree-label {
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;

    background-image: url('../img/Disagree.png');
    background-repeat: no-repeat;
  }

  .form-agree:checked + .agree-label {
    background-image: url('../img/Agree.png') !important;
    background-repeat: no-repeat;
  }*/

  #close {
    display: block;
    width: 30px;
    height: 30px;
    border: 0;
    border-radius: 50%;
    background-color: $purple;
    box-shadow: -2.691px 5px 10px 0px $shadow;
    position: absolute;
    top: 20px;
    right: 20px;

    text-align: center;
  }

  .span__close {
      display: block;
      width: 20px;
      height: 1px;
      background-color: #fff;
      border: 0;

      position: absolute;
      left: 5px;
    }

  .span_close_first {
    transform: rotate(45deg);
  }

  .span_close_second {
    transform: rotate(-45deg);
  }

  .wrapper {
    padding: 35px 50px;
  }

  .main {
    min-height: 400px;
  }

  .padding_column_last {
    padding: 0 55px;
  }

  .card {
    height: 100%;
    width: 350px;
    border-radius: 10px;
    border: 1px solid #f2f2f2;
    overflow: hidden;
    box-shadow: -6.691px 7.431px 20px 0px $grey;
    &:hover {
      transition: .7s all;
      border: 1px solid lightgrey;
      box-shadow: -6.691px 7.431px 20px 0px $grey;
     /* transition: .9s ease-in-out;*/
    }
  }

  .card__img {
    height: 85%;
  }

  .radio_card_checked {
    visibility: hidden;
    position: absolute;
    top: 10px;
    right: 15px;
    width: 45px;
    height: 45px;
    border: 3px solid $purple;
    border-radius: 50%;
    box-shadow: -6.691px 7.431px 20px 0px $light-grey;

    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: "";
      display: block;
      width: 30.25px;
      height: 30.25px;
      border: 0;
      border-radius: 50%;
      background-color: $purple;
    }
  }

  .input__radio_card:checked + .radio_card_checked {
      visibility: visible;
    }

  .label__checkbox, .label__radio {
    display: flex;
    align-items: center;
  }

  .checkbox_checked {
    width: 30px;
    height: 30px;
    border: 0;
    border-radius: 10px;
    background: $sky-blue;
    margin-right: 40px;

    &:hover {
      transition: .7s ease;
      background-color: $grey;
    }
  }

  .input__checkbox {
    display: none;

    &:checked + .checkbox_checked {
      background: url('../img/checked.png');

    }
  }

  .checkbox_checked_border {
    border: 2px solid $purple;
    position: absolute;
    left: 75px;
  }


  .radio_checked {
    width: 30px;
    height: 30px;
    border: 2px solid $sky-blue;
    border-radius: 50%;
    background: $sky-blue;
    margin-right: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      transition: .7s ease;
      background-color: $grey;
    }
  }

  .input__radio {
    display: none;

    &:checked + .radio_checked {
      background: 0;
      border: 2px solid $purple;

      &::before {
        content: "";
        width: 20px;
        height: 20px;
        background-color: $purple;
        border: 0;
        border-radius: 50%;
      }
    }
  }

  .select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;

    background-image: url('../img/arrow.png');
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-size: 25px;
  }