$dark-blue: #212240;
$blue: #32325d;
$light-blue: #525f7f;
$shadow: rgba(111, 54, 255, 0.2);

$purple: #845cff;

$sky-blue: #fafaff;
$white: #fff;

$light-grey: rgba(152, 152, 152, 0.5);
$grey: rgba(212, 212, 250, 0.2);