$dark-blue: #000;
$blue: #000;
$light-blue: #525f7f;
$shadow: rgba(0, 0, 0, 0.2);

/*$purple: #845cff;*/
$purple: #000;

$sky-blue: #fafaff;
$white: #fff;

$light-grey: rgba(152, 152, 152, 0.5);
$grey: rgba(212, 212, 250, 0.2);